<h2 class="page-title text-center mt-4 mb-3"><i class="fas fa-vial text-primary"></i> Amostras</h2>
<div class="text-dark"><%= paginate @samples, window: 2%></div>

<div id="map"
     style="width: 100%; height: 350px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<% headers = ['Name', 'Email'] %>
<% CSV.generate_line headers %>
<% @samples.each do |sample| %>
  <% CSV.generate_line([sample.id, sample.type]) %>
<% end %>

<%= link_to 'Download CSV list', samples_path(format: :csv) %>

<div class="form text-center mt-3">
  <%= form_tag samples_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Buscar amostras por local, data, pesquisador, instituição, equipamento, etc."
    %>
    <%= submit_tag "Buscar", class: "btn btn-primary btn-sm text-center mt-2" %>
    <%= link_to "Deletar busca", request.path, class:"btn btn-primary btn-sm  mt-3 mb-2 ml-2" %>
    <% if user_signed_in?%>
      <%= link_to "Adicionar amostra", new_sample_path, class:"btn btn-primary btn-sm mt-3 mb-2 ml-2" %>
    <%end%>
  <% end %>
</div>


<div class="samples-container">
  <%@samples.each do |sample|%>
  <div class="card-product mt-3 mb-4 rounded d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">

      <div class="card-product-infos ml-3 mt-1">
        <% if sample.type == "Carbon" || sample.type == "Methane" %>
          <h6><i class="page-title fas fa-vial text-primary"></i> Amostra <%=sample.id%> (<span class="text-primary"><%=sample.class_sample.upcase%></span>)</h6>
        <%elsif sample.type == "Sediment"%>
          <h6><i class="page-title fas fa-flask text-primary"></i> Amostra <%=sample.id%> (<span class="text-primary"><%=sample.class_sample.capitalize%></span>)</h6>
        <%end%>
          <p><i class="page-title fas fa-calendar text-primary"></i> <%=sample.date_sample%></p>
          <p><i class="page-title fas fa-globe-americas text-primary"></i> <strong>Lat:</strong> <%=sample.latitude%> <strong class="text-primary">-</strong> <strong>Long:</strong> <%=sample.longitude%></p>
          <p><i class="page-title fas fa-user-graduate text-primary"></i> <%=sample.researcher.first_name.capitalize%> <%=sample.researcher.last_name.capitalize%></p>
      </div>
  </div>
    <%= link_to "Info", sample_path(sample), class:"page-title btn btn-primary btn-sm mr-3" %>
  </div>
  <%end%>
</div>
