<h2 class="page-title text-center mt-4 mb-3"><i class="fas fa-vial text-primary"></i> Amostras</h2>
<div class="text-dark"><%= paginate @samples_for_pages, window: 2%></div>

<div id="map"
     style="width: 100%; height: 350px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="form text-center mt-3">
  <%= form_tag samples_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Buscar amostras por local, data, pesquisador, instituição, equipamento, etc."
    %>

  <div>
    <%= submit_tag "Buscar", class: "btn btn-primary btn-sm text-center mt-2" %>
    <%= link_to "Deletar busca", request.path, class:"btn btn-warning btn-sm mt-3 mb-2 ml-2" %>
  <% end %>
  <% params.permit! %>
  <%= link_to "Exportar", samples_path(params.merge(format: "csv")), class: "btn btn-success btn-sm mt-3 mb-2 ml-2"%>
    <% if user_signed_in?%>
      <%= link_to "Nova amostra", new_sample_path, class:"btn btn-secondary btn-sm mt-3 mb-2 ml-2" %>
    <%end%>
  </div>
</div>

<div class="samples-container">
  <%@samples_for_pages.each do |sample|%>
  <div class="card-product mt-3 mb-4 rounded d-flex justify-content-between align-items-center bg-light">
    <div class="d-flex align-items-center">
      <div class="card-product-infos ml-3 mt-1">
        <% if sample.type == "Gase" %>
          <h6><i class="page-title fas fa-vial text-success"></i> Amostra <%=sample.id%> (<span class="text-success"><%=sample.class_sample.capitalize%></span>)</h6>
        <%elsif sample.type == "Water"%>
          <h6><i class="page-title fas fa-vial text-info"></i> Amostra <%=sample.id%> (<span class="text-info"><%=sample.class_sample.capitalize%></span>)</h6>
        <%elsif sample.type == "Sediment"%>
          <h6><i class="page-title fas fa-vial text-warning"></i> Amostra <%=sample.id%> (<span class="text-warning"><%=sample.class_sample.capitalize%></span>)</h6>
        <%end%>
          <p><i class="page-title fas fa-calendar text-primary"></i> <%=sample.date_sample%></p>
          <p><i class="page-title fas fa-globe-americas text-primary"></i> <%=sample.ecosystem.capitalize%></p>
          <p><i class="page-title fas fa-user-graduate text-primary"></i> <%=sample.researcher.first_name.capitalize%> <%=sample.researcher.last_name.capitalize%></p>
      </div>
  </div>
    <%= link_to "Info", sample_path(sample), class:"page-title btn btn-info btn-sm mr-3" %>
  </div>
  <%end%>
</div>
